---
layout: default
---

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Blog<span></span></h1>
              <!-- <p class="lead  text-white"></p> -->
              <div class="btn-wrapper">
              </div>
            </div>
          </div>
          <div class="col-lg-6 mx-auto">
            <div class="form-group mt-5 search-container bg-white rounded">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input class="form-control" id="search-input" placeholder="Search..." type="text">
              </div>
              <ul id="results-container"></ul>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--300">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            {% for post in site.posts %}
              <div class="col-lg-4 mt-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <!-- <div class="icon icon-shape icon-shape-{{ post.color }} rounded-circle mb-4">
                      <i class="fa fa-{{ post.icon }}"></i>
                    </div> -->
                    <h6 class="text-{{ post.color }} text-uppercase ellipsis-title-text" style="min-height: 50px;">{{ post.title }}</h6>
                    <p class="description mt-3 ellipsis-description-text" style="min-height: 70px;">{{ post.description }}</p>
                    <p class="description mt-3">Autor: {{ post.author }}</p>
                    <p class="description mt-3">{{ post.date | date: "%b %-d, %Y" }}</p>
                    <div style="min-height: 50px;">
                      {% for category in post.categories %}
                        <span class="badge badge-pill badge-{{ post.color }}">{{ category }}</span>
                      {% endfor %}
                    </div>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-{{ post.color }} mt-4">Saber mais</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
