---
layout: default
---

<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Debian Brasília<span></span></h1>
              <p class="lead  text-white">Seja bem-vindo à página oficial da comunidade Debian Brasília!</p>
              <div class="btn-wrapper">
                <a href="https://salsa.debian.org/debian-brasilia-team" class="btn btn-warning btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-gitlab"></i></span>
                  <span class="btn-inner--text">Repositório</span>
                </a>
                <a href="/blog" | prepend: site.baseurl }}" class="btn btn-primary btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                  <span class="btn-inner--text">Blog</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <!-- <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            {% for post in site.posts %}
              <div class="col-lg-4 mt-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-{{ post.color }} rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-{{ post.color }} text-uppercase">{{ post.title }}</h6>
                    <p class="description mt-3">{{ post.description }}</p>
                    <p class="description mt-3">{{ post.date | date: "%b %-d, %Y" }}</p>
                    <div>
                      {% for category in post.categories %}
                        <span class="badge badge-pill badge-{{ post.color }}">{{ category }}</span>
                      {% endfor %}
                    </div>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-{{ post.color }} mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="../assets/img/theme/promo-1.png" class="img-fluid floating" alt="image">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Sobre a comunidade</h3>
            <p>A comunidade Debian Brasília é formada exclusivamente de voluntários dedicados ao desenvolvimento, utilização, difusão e ensino do software livre. A comunidade se apoia nos ideais do Debian Project, que teve seu início em 1993, quando Ian Murdock lançou um convite aberto a criadores de software para contribuírem para uma distribuição de software completa e coerente, baseada no kernel Linux.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-cubes"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Empacotamento</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-language"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Tradução</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-book"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Documentação</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="../assets/img/theme/img-1-girls-1200x1000.jpg" class="card-img-top" alt="image">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Mulheres no Debian Brasília</h4>
              <p class="lead text-italic text-white">A tecnologia é fascinante, porem poucas mulheres parecem se interessar pelo assunto, então se você está interessada em juntar-se ao Projeto Debian, existem muitas coisas que você pode fazer: você pode ser uma desenvolvedora, mantenedora, documentadora ou tradutora Debian, ou nos ajudar testando e relatando bugs. https://www.debian.org/women/</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="fa fa-user-plus"></i>
            </div>
            <h3>Junte-se a nós!</h3>
            <p class="lead">Se você ainda não tem certeza de como começar, talvez nosso programa de mentoria seja algo para você. Você também é muito bem-vinda a se juntar aos nossos próprios projetos! Existem muitas maneiras de participar. Sinta-se à vontade para entrar em contato conosco se você tiver quaisquer dúvidas ou comentários.</p>
            <p>Aqui somos todos iguais, respeitamos as opiniões e opções de cada um e queremos você com a gente.</p>
            <p>Então se você gosta de tecnologia, gosta de software livre e quer participar com a gente, basta entrar em contado através do e-mail contato@debianbrasilia.org.</p>
            <p>Quer saber mais…</p>
            <a href="#" class="font-weight-bold text-warning mt-5">https://www.debian.org</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning" id="calendario">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="../assets/img/ill/ill-2.svg" class="img-center img-fluid" alt="image">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 pb-100">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="fa fa-calendar-o text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Nosso Calendário</h4>
              <p class="text-white">Fique sempre atento e acompanhe a nossa colendário para não perder nenhum evento.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex">
                <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FSao_Paulo&amp;src=dXMzMTFqbDdmdHJ0YXVyZnRwcHBhcWU2NmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%233F51B5&amp;mode=AGENDA&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showNav=0&amp;showTitle=0" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">Debian Brasilienses</h2>
          <p class="lead text-muted">Em Brasília temos um grande numero de contribuidores no Debian e que estão sempre por perto para dar aquele apoio.</p>
        </div>
      </div>
      <div class="row">
        {% for person in site.data.people %}
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 mt-5">
          <div class="px-4">
            <img src="{{ person.picture }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">{{ person.name }}</span>
                <small class="h6 text-muted">{{ person.role }}</small>
              </h5>
              <div class="mt-3">
                {% if person.twitter %}
                <a href="{{ person.twitter }}" class="btn btn-default btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                {% endif %}
                {% if person.site %}
                <a href="{{ person.site }}" class="btn btn-default btn-icon-only rounded-circle">
                  <i class="fa fa-dribbble"></i>
                </a>
                {% endif %}
                {% if person.github %}
                <a href="{{ person.github }}" class="btn btn-default btn-icon-only rounded-circle">
                  <i class="fa fa-github"></i>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">We made website building easier for you.</h3>
              <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-block btn-white">Download HTML</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-100">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Parceiros</h2>
          <p class="lead text-white">Temos parcerias com universidades e grupos que contribuem ativamente com softwares livres, confira abaixo.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">FGA</h5>
          <p class="text-white mt-3">A Faculdade UnB Gama (FGA) é a extensão da Universidade de Brasília na região administrativa do Gama. É o maior entre os três campi da universidade situados fora do Plano Piloto de Brasília.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">FLUSP</h5>
          <p class="text-white mt-3">Somos um grupo de alunos de graduação e pós-graduação da Universidade de São Paulo (USP) que visa contribuir com projetos de software livre (Software Livre / Livre / Software Livre - FLOSS).</p>
        </div>
        <!-- <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">...</h5>
          <p class="text-white mt-3">...</p>
        </div> -->
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to work with us?</h4>
              <p class="mt-0">Your project is very important to us.</p>
              <div class="form-group mt-5">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome <span class="text-success">Design System for Bootstrap 4?</span></h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in HTML. Start a new project or give an old Bootstrap project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-primary mb-3 mb-sm-0">Download HTML</a>
            <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-default">Download PSD/Sketch</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" data-toggle="tooltip" data-original-title="Bootstrap 4 - Most popular front-end component library">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href=" https://www.creative-tim.com/product/vue-argon-design-system" target="_blank" data-toggle="tooltip" data-original-title="Vue.js - The progressive javascript framework">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href=" https://www.sketchapp.com/" target="_blank" data-toggle="tooltip" data-original-title="[Coming Soon] Sketch - Digital design toolkit">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href=" https://www.adobe.com/products/photoshop.html" target="_blank" data-toggle="tooltip" data-original-title="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href=" https://angularjs.org/" target="_blank" data-toggle="tooltip" data-original-title="[Coming Soon] Angular - One framework. Mobile &amp; desktop">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href=" https://angularjs.org/" target="_blank" data-toggle="tooltip" data-original-title="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img alt="image" src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
          <div class="text-center">
              <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FSao_Paulo&amp;src=dXMzMTFqbDdmdHJ0YXVyZnRwcHBhcWU2NmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%233F51B5&amp;showTz=0&amp;showTabs=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>
