<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <!-- Core -->
    <script src="{{ "/assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/popper/popper.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/headroom/headroom.min.js" | prepend: site.baseurl }}"></script>
    <!-- Argon JS -->
    <script src="{{ "/assets/js/argon.js?v=1.1.0" | prepend: site.baseurl }}" type="text/javascript"></script>

    {% if page.name == "blog.html" %}
    <!-- Script pointing to search-script.js -->
    <script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    {% include search.html %}
    {% endif %}

    <!-- Configuration -->
    {% include analytics.html %}

  </body>

</html>
