---
layout: fixed-nav-default
---
<article class="post col-lg-8 col-md-8 col-sm-8 mx-auto" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h3 class="post-title pt-100" itemprop="name headline">{{ page.title }}</h3>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} • 
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span>
      </span>{% endif %}
    </p>
  </header>

  <div class="card col-lg p-4" itemprop="articleBody">
    {{ content }}
  </div>

</article>
